.vscode
/src/test/googletest-main
CMakeFiles
CMakeCache.txt
Makefile
*.o
*.a
*.in
*.cmake
*.bak
src/html
src/latex
src/_deps
src/build
src/docs
src/gui/build
callgrind.*
out.dot
src/profiling/profiling
src/profiling/graph.png
gprof2dot.py