[Desktop Entry]
Version=1.0
Type=Application
Exec=/opt/HugoCalc/HugoCalc
Path=/opt/HugoCalc
Name=HugoCalc
Terminal=false
Icon=../favicon
Categories=Utility;Application;
